<h1>Saint David's Web Grade Imports</h1>

<%= link_to 'Import', import_senior_system_path, class: 'button' %>
<%= link_to 'Download Spreadsheet', file_imports_path(format: "csv"), class: 'button' %></br></br>


<h3>
  This is the list of files you have uploaded. If you missed a file during the upload, you will need to upload all the files (including the ones listed here) again.
</h3>

<table>
  <thead>
  <tr>
    <th>Uploaded File(s)</th>
  </tr>
  </thead>
  <tbody>
  <% @imported_files.each do |import| %>
    <tr>
      <td><%= import.file_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Import', import_senior_system_path, class: 'button' %>
<%= link_to 'Download Spreadsheet', file_imports_path(format: "csv"), class: 'button' %>
